main{
    width: 70%;
    margin: 5rem auto 2rem;
    text-align: center;
    text-transform: uppercase;
}
main h1{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
main section{
    width: 40%;
    margin: auto;
    margin-bottom: 1.25rem;
}
main section p{
    font-size: 28px;
    letter-spacing: 2px;
    transform: scale(1,0.8);
    line-height: 0.9;
    font-weight: 500;
}
main img{
    width: 40%;
}